<html>
    <head>
         <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
         <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
         <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
         <title>XNova</title>
    </head>
    <body>
        <div class="container">
            <div id="header" class="hero-unit">
                <h1>XNova</h1>
            </div>
            <div class="row">
                <div id="menu" class="span3">
                    {% block menu %}
                    <h3>Menu</h3>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{{ path('index') }}">Index</a></li>
                        {% if is_granted('ROLE_USER') %}
                            <li><a href="{{ path('game_index') }}">Accès au jeu</a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}">Créer un compte</a></li>
                        {% endif %}
                    </ul>
                    {% endblock %}
                </div>
                <div id="content" class="span9">
                    {% block body %}
                    {% endblock %}
                </div>    
            </div>
        </div>
        <footer>
            <hr>
            <p align="center">Copyright XNova</p>
        </footer>
    </body>
</html>