!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "XNova"
    %link{href: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel: "stylesheet"}/
    = yield(:css)

    %script{src: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}
    = yield(:javascript)

    = csrf_meta_tags
  %body
    = yield